 :root{
  --primary-colour:white;
  --secondary-colour:#1a1a1a;
  --hover-over: #00E1EF;
  --shade-color:#888888;
  --code-box-color:#001a33;
}

body {
  background-color:var(--secondary-colour);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--primary-colour);
  font-family: 'Murecho', sans-serif;
  margin: 0rem;
}
.header-tag {
  font-size: 3rem;
  margin:0rem;
  padding-top: 1rem;
  padding-left: 2rem;
  background-color: var(--hover-over);
  border-bottom-right-radius:2rem ;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0rem 0rem 0.2rem var(--shade-color);
}
a{
  text-decoration: none;
  color: var(--primary-colour);
}
.header-tag  a{
  color: var(--secondary-colour);
}
.header-tag a:hover{
  color: var(--primary-colour);
}
.back-arrow{
  position: absolute;
  left:1rem;
}
.content-box{
box-shadow: 0 0 .2rem var(--shade-color);
width: 90%;
align-self: center;
margin: 2rem 5%;  
}
.main-content-div{
  display: flex;
  flex-direction: column;
  margin:5% 
}
.demo-live{
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: space-around;
}
.demo-code{
  display: flex;
  align-self: center;
  width: 90%;
  margin: 1rem 5%;
  white-space: none;
  background-color: var(--code-box-color);
  border-radius: 0.5rem;
  overflow: auto;
}


/* avatar-css */

.avatar{
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* alert-bar-css */

.alert-bar{
    background-color:#121212 ;
    color:white;
    display:flex;
    width: 20rem;
    position:fixed;
    bottom:2rem;
    left: 40%;
    justify-content: space-around;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
}
.btn-retry{
  padding: 0;
  border: none;
  background: none;
  color: rgb(0, 195, 255);
  font-weight: 700;
  cursor: pointer;
}
.alert-see-btn{
  border-radius:2rem;
  background-color: var(--primary-colour);
  cursor: pointer;
}

/* badge-css */
.badges{
  text-align: center;
  background-color: red;
  color: white;
  border-radius:2rem;
  width:2rem;
  font-size:1rem; 
} 
/* badge-over-icon */
.icon-badge{
  position:relative;
  font-size: 3rem ;
  color:rgb(0, 195, 255);
}
.badge-for-icon{
      position: absolute;
      bottom: 0rem;
      right: 0;
}

/* badge-over-avatar */

.badge-on-avatar{
  padding:1rem ;
  position:relative;
  display:inline
}
.badge-for-avatar{
  position: absolute;
  bottom: 0;
  right: 0;
} 

/* button */
.primary-button{
  text-decoration: none;
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  padding: 0.5rem;
  border-radius: 0.5rem;
} 
 .link-button{
  color:var(--secondary-colour) ;
} 
 .icon-button{
  color: black;
  font-size: xx-large;
}

/* floating-button */
.btn-floating{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: red;
  color: var(--primary-colour);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.white-text{
  color: var(--primary-colour);
}


/* responsive-image */
/* .rounded-image{
  border-radius: 50%;
} */

/* input-boxes */
/* .normal-text{
    height: 2rem;
    width: 20rem;
} */